// TEMPLATING READY TO USE

@media (max-width: 991px) {
  .u-hidden-down\@tablet {
    display: none !important;
  }
}

@media (max-width: 600px) {
  .u-hidden-down\@mobile {
    display: none !important;
  }
}

@media (min-width: 991px) {
  .u-hidden-up\@tablet {
    display: none !important;
  }
}

@media (min-width: 600px) {
  .u-hidden-up\@mobile {
    display: none !important;
  }
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.u-block {
  display: block !important;
}

.u-inline-block {
  display: inline-block !important;
}

.u-inline {
  display: inline !important;
}

.u-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.u-inline-flex {
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

.u-justify-start {
  -webkit-box-pack: start !important;
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
}

.u-justify-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.u-justify-between {
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.u-align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

.u-align-self-end {
  -ms-flex-item-align: end !important;
  align-self: flex-end !important;
}

.u-flex-wrap {
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}

.u-text-small {
  font-size: 12px !important;
}

.u-text-medium {
  font-size: 16px !important;
}

.u-text-large {
  font-size: 20px !important;
}

.u-text-xlarge {
  font-size: 30px !important;
}

.u-outline-0 {
  outline: none !important;
}

.u-text-decoration-0 {
  text-decoration: none !important;
}

.u-position-absolute {
  position: absolute !important;
}

.u-position-relative {
  position: relative !important;
}

.u-cursor-pointer {
  cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

//END OF TEMPLATE

.modal-content {
  max-height: calc(100vh - 50px);
}
.modal-body {
  max-height: 100%;
  overflow-y: auto;
  width: auto !important;
}
.modal-dialog {
  max-width: 100%;
  min-width: 40%;
  width: auto !important;
  display: inline-block;
}
.modal {
  z-index: -1;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.modal-open .modal {
  z-index: 1050;
}
.inline-block {
  display: inline-block;
}
.vertical-center {
  display: flex;
  align-items: center;
}
.rowC {
  display: flex;
  flex-direction: row;
}
.button-stretch {
  width: 100%;
  // display:block;
}

//LOGIN
.l-header {
  // background: #19357f;
  color: white;
  font-size: 18pt;
}

.l-header > div::first-letter {
  color: $secondary;
}

//DEFAULT HEADER
.btn-lang {
  color: white;
}

.btn-lang:hover {
  background-color: white;
}

.btn-lang.disabled {
  color: $secondary;
  cursor: context-menu;
}

.btn-lang.disabled:hover {
  background-color: $primary;
}

.timeline-tab-parent {
  color: white;
  line-height: 20px;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  margin: 0;
}

.timeline-tab-static {
  cursor: pointer;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
}

.timeline-tab {
  cursor: pointer;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
}

.timeline-tab:hover {
  background: $secondary;
}

.timeline-tab.is-active {
  color: $primary;
  background: $secondary;
}

.h-desktop {
  width: 250px;
}

.h-tablet {
  position: absolute;
  left: 50px;
}

.table-strip tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tr-detail {
  transition: opacity 0.5s ease-out;
  opacity: 1;
}

.tr-detail.hidden {
  opacity: 0;
  font-size: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.tr-detail.hidden td {
  border: 0;
}

.tr-hover {
  cursor: pointer;
}

.tr-hover:hover {
  color: #212529;
  background-color: rgba(0, 0, 0, 0.075);
}
