// Styles
// CoreUI Icons Set
@import '~@coreui/icons/css/free.min.css';
// Import Font Awesome Icons Set
@import '~font-awesome/css/font-awesome.min.css';
// Import Simple Line Icons Set
@import '~simple-line-icons/css/simple-line-icons.css';
// Import Main styles for this application

$primary: #19357F;
$secondary: #FFD600;
// $primary: #139FCD;
// $secondary: #EBE81E;

//override defaul values
$navbar-brand-width: 250px;
$sidebar-width: 300px;
$sidebar-nav-link-active-color: $secondary;
$sidebar-nav-link-active-icon-color: $secondary;
$sidebar-nav-link-hover-bg: $secondary;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "danger": #DC3545,
  // "info"  : #5c6873,
  // "warning" : #23282c,
  // "success" : #5c6873
);

$blue:       #20a8d8 !default;
$indigo:     #6610f2 !default;
$purple:     #6f42c1 !default;
$pink:       #e83e8c !default;
$red:        #f86c6b !default;
$orange:     #f8cb00 !default;
$yellow:     #ffc107 !default;
$green:      #4dbd74 !default;
$teal:       #20c997 !default;
$cyan:       #17a2b8 !default;
$light-blue: #63c2de !default;

@import "~@coreui/coreui/scss/coreui.scss";
// Temp fix for reactstrap
@import '~@coreui/coreui/scss/_dropdown-menu-right.scss';
// custom css
@import "custom";